page-home {
    ion-col {
        border: 1px dashed;
    }

    .gestures {
        width: 100%;
        height: 40px;
        background-color: lightgreen;
        text-align: center;
        text-justify: auto;
        padding-top: 15px;
    } 
}
